/*  ROOT  */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Asap&family=Bungee+Inline&family=Rock+Salt&display=swap');

html{
    margin-bottom: 0;
}

body {
    margin: 0;
    background-color: hsl(352, 52%, 95%);
    font-family: 'Asap', sans-serif;
}

/*  HEADER  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(352, 52%, 54%);
    color: white;
    padding: 20px;
    gap: 20px;
}

.header img {
    width: 70px;
    height: auto;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-links a {
    color: white;
    padding: 8px;
    border: hsl(352, 52%, 95%) solid 1px;
    border-radius: 5px;
    text-decoration: none;
}

/* FOOTER  */

#footer {
    background-color: hsl(352, 52%, 40%);
    display: flex;
    justify-content: center;
}

.signature {
    width: fit-content;
    text-align: center;
    padding: 16px;
}

.signature p {
    font-family: 'Rock Salt', cursive;
    transform: rotate(5deg);
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: -12px;
    color: white;
}

.signature .dev-sign {
    margin: 0;
    font-size: 20px;
}

/*  HOME  */

.main-title {
    padding: 42px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title h1 {
    font-family: 'Bungee Inline', 'Asap', sans-serif;
}

.main-title h2 {
    text-align: left;
}

/*  COWNTDOWNS  */

.title-wrapper {
    padding-left: 64px;
    padding-top: 42px;
}

.countdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-element {
    border: 4px solid hsl(352, 52%, 54%);
    border-radius: 10px;
    width: clamp(200px, 80vw, 750px);
    margin: 24px;
    overflow: hidden;
    position: relative;
}

.cd-title {
    padding: 16px;
    padding-left: 36px;
    font-size: 24px;
    margin: 0;
    background-color: hsl(352, 52%, 54%);
    color: white;
}

.countdown {
    font-family: 'PT Mono', monospace;
    font-variant: small-caps;
    font-size: 28px;
    text-align: center;
}

.cd-description {
    padding: 16px;
    padding-left: 36px;
    margin: 0;
    background-color: hsl(352, 52%, 80%);
    color: hsl(0, 0%, 30%);
}